<%# Renders a type header for a node. Locals should be view model of the node %>
<h3 id='<%= name %>'> <span <%- deprecated? "class='deprecated' title='Deprecated'" :""%>>
    <%= name %>
</span></h3>
<%- include('description.ejs', locals) %>