<%# Renders a interface section. Locals should be view model of the interface %>
<%- include('buildingBlocks/header.ejs', locals) %>
<h4>Implementors:</h4>
<div class='content'><%- 
implementors.map(imp => '<a class="name" href="#' + imp + '">' + imp + '</a>').join(', ');
%></div>
<%- include('buildingBlocks/fields.ejs', locals) %>